<div class="container top30">
<div class="row">

<div class="col-md-3">
  <label for="termino">Buscar grupo o artista </label>
  <input type="text"
          placeholder="Introduzca artista..."
          class="form-control"
          (keyup)="buscarArtista()"
          [(ngModel)]="termino">
</div>
<div class="col-md-9" *ngIf="termino.length >1 ">
<h1 class="text-capitalize">{{termino}}</h1>
<hr>


 <div class="row">

    <!--  {{artSearch | json }} -->
  <div  *ngFor="let i of itemsSearch" class="col-md-3 text-center puntero"
                                      [routerLink]="['/artist',i.id]">
      <img [src]="i.images | sinfoto" class="img-thumbnail">
<p>{{i.name}}</p>
          </div>


<ul>
<!-- <li *ngFor="let artists of artistasSearch">
  {{artists}}
</li>-->
</ul>
</div>

</div>
</div>
